<div class="w_sidemenu pos_abs">
    <div class="top">
        <div class="user-img">
            <i class="fa fa-modx"></i>
        </div>
        <div class="user-infor">
            <div class="name">课栈网</div>
            <div class="job">
                <span class="left">开发部人员</span>
                <span class="right">1.5 年</span>
            </div>
        </div>
    </div>
	<div class="bottom" id="header">
        <div class="menu-floor pos_rel">
            <div class="menu-icon">
                <i class="fa fa-desktop"></i>
            </div>
            <div class="menu-desc">Web 网页</div>
        </div>
        <div class="menu-floor menu-app">
            <div class="menu-icon">
                <i class="fa fa-mobile"></i>
            </div>
            <div class="menu-desc">App</div>
        </div>
        <div class="menu-floor">
            <div class="menu-icon">
                <i class="fa fa-pencil"></i>
            </div>
            <div class="menu-desc">icon</div>
        </div>
        <div class="menu-floor">
            <div class="menu-icon">
                <i class="fa fa-clone"></i>
            </div>
            <div class="menu-desc">其他</div>
        </div>
    </div>
</div>