/**
 * widget
 * 页面上切割的独立小块
 */

/*=============头部header============*/
.w_header{
	height: 40px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 5px;
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	background: @g_blue;
	.left{
		left: 10px;
		width: 50px;
		cursor: pointer;
	}
	.center{
		margin: 0 30%;
		text-align: center;
	}
	.right{
		top: 0;
		right: 10px;
		width: 50px;
	}
}

/*=============左侧菜单==============*/
.w_sidemenu{
	width: 172px;
	top: 0;
	left: -172px;
	.transition(left ease 0.5s);
	bottom: 0;
	background: @g_blue;
	overflow: hidden;
	&.active{
		left: 0;
		.transition(left ease 0.3s);
	}
	.top{
		height: 120px;
		text-align: center;
		padding: 20px 0 10px 0;
		color: #fff;
		.g_black_fn(background, .15);
		border-bottom: 1px solid @bd_gray;
		.user-img{
			border: 2px solid @bd_gray;
			width: 60px;
			height: 60px;
			margin: 0 auto;
			line-height: 60px;
			border-radius: 60px;
			background: #3D74CE;
			font-size: 30px;
			color: #fff;
		}
		.user-infor{
			margin-top: 10px;
			font-size: 14px;
			.name{
				font-size: 16px;
			}
			.job{
				margin-top: 5px;
				.left{
					border-radius:3px;
					padding: 2px 5px;
					.g_orange_fn(background, .6);
				}
				.right{
					margin-left: 5px;
					font-size: 12px;
					padding: 0 4px;
					border-radius: 3px;
					border: 1px solid @bd_gray;
				}

			}
		}
	}
	.bottom{
		color: #fff;
		text-align: center;
		.menu-floor{
			margin-bottom: 10px;
			padding: 10px 0;
			.menu-icon{
				font-size: 32px;
				line-height: 66px;
				border-radius: 70px;
				margin: 0 auto;
				box-sizing: border-box;
				border: 2px solid #e7e7e7;
				width: 66px;
				height: 66px;
				cursor: pointer;
				&:hover{
					transition: .3s;
					background: #fff;
					border: 2px solid #fff;
					color: @g_blue;
				}
			}
			.menu-desc{
				font-size: 18px;
				color: #fff;
			}
			&.menu-app{
				.menu-icon{
					font-size: 48px;
				}
			}



		}
	}
}
